.calendar-row-container {
	margin: 4% 2%;
	&__year {
		font-family: OpenSans-Regular;
		font-size: 0.96rem;
	}
	&__circle-container {
		min-height: 2.5em;
		height: auto;
		padding: 2% 1%;
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
		background-color: #f7f7f7;
		border-radius: 8px;
		&__circle {
			width: 24px;
			height: 24px;
			background-color: white;
			border: 1px solid #4c4c4c;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}
