.initial-page-container {
	width: 100%;
	height: 100%;
	&__title {
		text-align: center;
		font-size: 5rem;
		font-family: OpenSans-Regular;
		font-weight: 400;
		color: #de2874;
	}
	&__sub-title {
		text-align: center;
		font-size: 2rem;
		font-family: OpenSans-Regular;
		font-weight: 600;
		color: #da7ba2;
	}
	&__input {
		border-radius: 18px;
		border: 1px solid #b6b6b6;
		outline: none;
		padding: 0.5em 1em;
	}
	&__button {
		width: 15rem;
		height: 7rem;
		border-radius: 18px;
		border: 1px solid #de2874;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none !important;
		&--small {
			width: auto;
			height: auto;
			padding: 1em;
		}
		&__content {
			text-align: center;
			font-size: 2rem;
			font-family: OpenSans-Regular;
			font-weight: 400;
			color: #db5e92;
			margin-bottom: 0;
			&--small {
				font-size: 1rem;
			}
		}
		&:hover {
			border-color: #fff;
			background-color: #de2874;
			.initial-page-container__button__content {
				color: #fff;
			}
		}
	}
}
