.overview-container {
	position: relative;
	width: 20%;
	height: 100%;
	background-color: #fff;
	padding: 1em;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	&--minimized {
		width: auto;
	}
	&__icon {
		cursor: pointer;
		width: 3em;
		transform: rotate(180deg);
		padding-right: 0;
		padding-left: 1em;
		filter: invert(28%) sepia(73%) saturate(4250%) hue-rotate(320deg)
			brightness(90%) contrast(92%);
		&--minimize {
			transform: rotate(0);
			padding-right: 1em;
			padding-left: 0;
		}
	}
	&__count-container {
		width: auto;
		display: flex;
		justify-content: start;
		align-items: center;
		&__count {
			padding: 1em;
			border-radius: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(222, 40, 116);
			color: white;
			width: auto;
			height: 2em;
			white-space: nowrap;
			margin-right: 0.5em;
		}
		&__count-aux {
			font-size: 1.08rem;
			font-family: OpenSans-Regular;
			font-weight: 600;
			color: #606060;
		}
	}
	&__crash-container {
		border-radius: 8px;
		position: relative;
		height: 90%;
		border: 1px solid #d6d6d6;
		&__shadow {
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			pointer-events: none;
			border-radius: 8px;
			box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.3);
		}
		&__crashes {
			height: auto;
			max-height: 100%;
			overflow-y: auto;
			padding: 1em;
			overflow-x: hidden;
			&__title {
				font-size: 1.08rem;
				font-family: OpenSans-Regular;
				font-weight: 600;
				color: #4c4c4c;
			}
			&__sub-title {
				font-size: 1.08rem;
				font-family: OpenSans-Regular;
				font-weight: 600;
				color: #606060;
			}
			&__text {
				font-size: 1.02rem;
				font-family: OpenSans-Regular;
				font-weight: 600;
				color: #969696;
			}
			&__description-container {
				border: 1px solid #d6d6d6;
				border-radius: 8px;
				min-height: 5em;
				height: auto;
				padding: 0.5em;
				&__text {
					font-size: 1.02rem;
					font-family: OpenSans-Regular;
					font-weight: 600;
					color: #969696;
				}
			}
			&__separator {
				border-color: #d6d6d6;
				margin: 2em 0;
			}
		}
	}
}
