.overview-container {
	position: relative;
	width: 20%;
	background-color: #4c4c4c;
	padding: 4em 2.5em;
	&__close {
		position: absolute;
		top: 1.5%;
		left: 5%;
		width: 1em;
		height: 1em;
		cursor: pointer;
		filter: saturate(100%) brightness(0) invert(93%) sepia(93%) saturate(27%)
			hue-rotate(24deg) brightness(104%) contrast(110%);
	}
	&__title {
		font-size: 0.96rem;
		font-family: OpenSans-Regular;
		font-weight: 600;
		color: white;
	}
	&__sub-title {
		font-size: 0.96rem;
		font-family: OpenSans-Regular;
		font-weight: 600;
		color: #d6d6d6;
	}
	&__text {
		font-size: 0.9rem;
		font-family: OpenSans-Regular;
		font-weight: 600;
		color: #969696;
	}
	&__description-container {
		border: 1px solid #969696;
		border-radius: 8px;
		min-height: 5em;
		height: auto;
		padding: 1em;
		&__text {
			font-size: 0.96rem;
			font-family: OpenSans-Regular;
			font-weight: 600;
			color: #d6d6d6;
		}
	}
	&__separator {
		border-color: #969696;
		margin: 2em 0;
	}
}
