.calendar-container {
	height: 100%;
	&__content {
		position: relative;
		height: 80%;
		margin: 0.5em;
		&__circles {
			height: 100%;
			position: relative;
			overflow-y: auto;
			overflow-x: hidden;
		}
		&__shadow {
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			pointer-events: none;
			border-radius: 8px;
			box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.3);
		}
	}
	&__bottom-row {
		height: 20%;
		&__circle-container {
			width: 30%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 5px;
			&__circle {
				width: 12px;
				height: 12px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
				border-radius: 50%;
				cursor: pointer;
			}
		}
		&__text-container {
			width: 70%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&__text {
				font-family: OpenSans-Regular;
				font-size: 0.96rem;
				color: #606060;
				text-align: center;
			}
		}
	}
}
