.calendar-container {
	height: 100%;
	&__content {
		height: 80%;
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: 8px;
		box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.3);
		margin: 0.5em;
	}
	&__bottom-row {
		height: 20%;
		&__circle-container {
			width: 30%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 5px;
			&__circle {
				width: 12px;
				height: 12px;
				border: 1px solid #606060;
				border-radius: 50%;
				cursor: pointer;
			}
		}
		&__text-container {
			width: 70%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&__text {
				font-family: OpenSans-Regular;
				font-size: 0.78rem;
				color: #606060;
				text-align: center;
			}
		}
	}
}
