.custom-tooltip {
	position: relative;
	width: auto;
	margin: 8px 0 0 15px;
	padding: 0.8em;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
	border: solid 1px;
	border-radius: 10px;
	background-color: #ffffff;
	z-index: 10000000;
	&__keyword {
		padding: 0.2em 0.5em;
		margin: 0.5em 0.2em;
		background-color: #b6b6b6;
		color: #f6f6f6;
		border-radius: 18px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&--calendar {
		position: absolute;
		transition: all 0.2s ease-in-out;
		pointer-events: none;
	}
	&--word {
		display: none;
		position: absolute;
		transition: all 0.2s ease-in-out;
		pointer-events: none;
	}
	&__font {
		font-family: OpenSans-Regular;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.64;
		letter-spacing: 0.4px;
		color: #4c4c4c;
		white-space: nowrap;
		&--title {
			text-transform: uppercase;
			font-size: 1.02rem;
			margin-bottom: 0.5em;
			font-weight: 600;
		}
		&--title-bold {
			text-transform: uppercase;
			font-size: 1.02rem;
			margin-bottom: 0.5em;
			font-weight: bold;
		}
		&--content {
			color: #7b7b7b;
			font-size: 0.96rem;
			margin-bottom: 0.3em;
			&.low-opacity {
				opacity: 0.7;
			}
		}
		&--content-bold {
			font-size: 0.96rem;
			margin-bottom: 4px;
			font-weight: bold;
		}
	}
	.separator {
		margin: 0;
		margin-bottom: 8px;
	}
}
