.main-page-container {
	width: 100%;
	height: 100%;
	&__left-section {
		height: 100%;
		box-sizing: border-box;
		border-right: 1px solid #c6c6c6;
		&__top-row {
			height: 59%;
			margin-bottom: 1%;
			&__legend {
				height: 20%;
			}
		}
		&__bottom-row {
			height: 39%;
			margin-bottom: 2%;
		}
	}
	&__right-section {
		height: 100%;
		box-sizing: border-box;
		border-left: 1px solid #c6c6c6;
		&__top-row {
			height: 60%;
			box-sizing: border-box;
			border-bottom: 1px solid #c6c6c6;
		}
		&__bottom-row {
			height: 40%;
			&__chart {
				box-sizing: border-box;
			}
			&__chart:first-child {
				border-right: 1px solid #c6c6c6;
			}
			&__chart:nth-child(2) {
				border-right: 1px solid #c6c6c6;
			}
		}
	}
	&__no-data-container {
		width: 100%;
		height: 100%;
		background-color: #f7f7f7;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__text {
			font-size: 1.14rem;
			font-family: OpenSans-Regular;
			font-weight: 600;
			color: #b6b6b6;
		}
		&__image {
			width: 5em;
			filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(157deg)
				brightness(93%) contrast(103%);
		}
	}
}
